table {
  width: 50% !important;
  margin: 30px auto 0px auto;
}

h4 {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.location-table {
  margin-top: 100px;
}

.ticket-content {
  Height: 500px;
}

footer {
  height: 200px !important;
}

.oldLadies {
  margin: 0px auto 0px auto;
  width: 50%;
  display: block;
}